*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--base: #555;
	--base-100: #f1f1f1;
	--base-400: #555;
	--base-800: #000;
	--yellow: #ffda4b;
	--yellow-100: #fffbe6;
	--yellow-400: #ffda4b;
	--yellow-800: #8b6f00;
	--blue: #0a61ae;
	--blue-100: #e2f8ff;
	--blue-400: #61dafb;
	--blue-800: #0a61ae;
}

body {
	font-family: 'Open Sans', 'Poppins', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 20px;
	/* ToDo: to remove this */
	margin-bottom: 1000px;
}

/* ----------------------- header part style ------------------------- */
a {
	text-decoration: none;
	color: var(--blue);
	&:hover {
		text-decoration: underline;
	}
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	max-width: 1440px;
	margin: auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	/* position: fixed; */

	.logo-holder {
		display: flex;
		padding: 10px;
		align-items: center;
		/* justify-content: center; */
		font-weight: 600;
		color: var(--base-800);
		text-decoration: none;
		.logo {
			display: flex;
			height: 64px;
			width: 64px;
			color: var(--base-100);
			font-size: 32px;
			margin-right: 20px;
			border-radius: 50%;
			align-items: center;
			justify-content: center;
			background-color: var(--base-800);
		}
		.logo-text {
			flex: 1;
		}
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		ul {
			display: flex;
			list-style-type: none;
			gap: 5px;

			li {
				display: inline-block;
				a {
					display: inline-block;
					padding: 10px 20px;
					color: var(--base);
					&:hover {
						background-color: var(--base-100);
						text-decoration: none;
						border-radius: 10px;
					}
				}
			}
		}
		.mobile-toggle {
			display: none;
			color: var(--base-800);
			padding: 10px;
			@media (max-width: 768px) {
				display: inline-block;
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}
	}
	@media (max-width: 1024px) {
		flex-direction: column;
		align-items: center;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		nav {
			margin: 10px;
			width: 100%;
			ul {
				display: none;
				flex-direction: column;
				text-align: center;
				width: 100%;
				&.active {
					display: flex;
				}
				a {
					width: 100%;
				}
			}
		}
	}
}

.container {
	max-width: 1440px;
	margin: auto;
	gap: 30px;
	margin-top: 30px;
	margin-bottom: 30px;

	@media (max-width: 1440px) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.button {
	display: inline-block;
	background-color: var(--blue);
	color: var(--base-100);
	padding: 10px 30px;
	border-radius: 10px;
	transition: ease 0.2s all;
	&:hover {
		text-decoration: none;
		background-color: var(--base-800);
	}
	&.white {
		background-color: white;
		color: var(--base-800);
		&:hover {
			background-color: var(--base-100);
			color: var(--blue);
		}
	}
	&.black {
		background-color: black;
		color: white;
		&:hover {
			background-color: var(--base-400);
			color: var(--base-100);
		}
	}
}

h1 {
	font-size: 64px;
	line-height: 1;
	margin-bottom: 10px;
	small {
		display: block;
		font-weight: 100;
	}

	@media (max-width: 1024px) {
		font-size: 48px;
	}
}
.hero {
	display: flex;
	margin-bottom: 30px;

	/* to stack the hero section elements */
	@media (max-width: 1024px) {
		flex-direction: column;
	}

	.hero-blue {
		flex: 1;
		background-color: var(--blue-100);
		border-radius: 30px;
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		p {
			small {
				display: block;
				font-size: 42px;
				font-weight: 100;
				line-height: 1;
			}
			span {
				display: block;
				margin-top: 10px;
			}
		}

		.call-to-action {
			margin-top: 20px;
			margin-bottom: 10px;
			a {
				margin-right: 10px;
				margin-bottom: 10px;
			}
		}
		.social-links {
			a {
				text-decoration: none;
			}
			img {
				width: 64px;
				height: 64px;
			}
		}
	}
	.hero-yellow {
		flex: 1;
		background-color: var(--yellow);
		border-radius: 30px;
		padding: 0 30px;
		display: flex;
		justify-content: center;
		align-items: stretch;
		img {
			margin-top: -50px;
			max-width: 420px;
			margin-bottom: -3px;
		}
	}
}

h2 {
	font-size: 64px;
	line-height: 1;
	color: var(--base-800);
	padding: 30px;
	margin-bottom: 10px;
	text-align: center;
	small {
		display: block;
		font-size: 0.5em;
		font-weight: 100;
		color: var(--base);
	}
	@media (max-width: 1024px) {
		font-size: 48px;
	}
}
h3 {
	font-size: 32px;
	font-weight: 600;
	line-height: 1;
	color: var(--base-800);
	margin-bottom: 20px;
}
.skills {
	.holder-blue {
		background-color: var(--blue-100);
		border-radius: 30px;
		padding: 30px;
		margin-bottom: 10px;
		display: flex;
		.left-column {
			flex: 1;
			p {
				margin: 20px;
			}
			ul {
				list-style-type: none;
				gap: 10px;
				margin-right: 100px;
				margin-bottom: 20px;
				li {
					display: inline-block;
					background-color: var(--blue-400);
					padding: 10px 20px;
					border-radius: 15px;
					margin-bottom: 10px;
				}
			}
		}
		.right-column {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-content: center;
			.career {
				padding: 10px 0;
				.contents {
					padding-left: 5px;
					ul {
						li {
							list-style: none;
							padding: 5px 0;
							span {
								color: var(--base-800);
								font-weight: 600;
								display: block;
								padding: 5px 0;
							}
						}
					}
				}
			}
		}
		@media (max-width: 1024px) {
			flex-direction: column;
		}
	}
}
.work-experience {
	.jobs {
		display: flex;
		justify-content: space-around;
		align-content: center;
		gap: 2em;
		flex-wrap: wrap;
		/* width: 100%; */
		@media (max-width: 1024px) {
			flex-direction: column;
		}
		article {
			background-color: var(--yellow-100);
			padding: 30px;
			border-radius: 30px;
			width: 450px;
			@media (max-width: 1024px) {
				width: 100%;
			}
			.project-detail {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-content: flex-end;
			}
			h3 {
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.teck-stack {
				h4 {
					font-size: 22px;
					margin: 10px 0px;
				}
				ul {
					display: flex;
					flex-wrap: wrap;
					list-style-type: none;
					gap: 5px;
					margin-right: 5px;
					margin-bottom: 5px;
					li {
						display: inline-block;
						background-color: var(--blue-400);
						padding: 8px;
						border-radius: 15px;
						margin-bottom: 5px;
					}
				}
			}
			p {
				margin-bottom: 10px;
			}
			.card_links {
				/* margin-bottom: -3px; */
				display: flex;
				justify-content: space-between;
				/* align-self: flex-end; */
				.card_button {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 5px 10px;
					gap: 10px;
					background-color: var(--blue-800);
					outline: 3px var(--blue-800) solid;
					outline-offset: -3px;
					border-radius: 5px;
					border: none;
					cursor: pointer;
					transition: 400ms;
					margin-top: 10px;
					&:hover {
						background-color: transparent;
						.link {
							color: var(--base-800);
						}
						path {
							fill: var(--base-800);
						}
					}
					.svg {
						width: 27px;
						height: 4px;
						transform: translateY(15%);
						fill: #323232;
						path {
							transition: 200ms;
						}
					}
					.link {
						color: white;
						font-weight: 700;
						font-size: 1em;
						transition: 400ms;
					}
				}
			}
			figure {
				width: 100%;
				padding-top: 56.25%;
				overflow: hidden;
				position: relative;
				border-radius: 15px;
				img {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					object-fit: fill;
					border-radius: 15px;
					transition: ease 2s all;
				}
				video {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					object-fit: contain;
					border-radius: 15px;
					transition: ease 2s all;
				}
				figcaption {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					background-color: rgba(0, 0, 0, 0.5);
					color: var(--base-100);
					text-align: center;
					padding: 10px;
					opacity: 0;
					visibility: hidden;
					transition: ease 1s all;
				}
				&:hover {
					figcaption {
						opacity: 1;
						visibility: visible;
					}
					img {
						scale: 1.1;
					}
				}
			}
		}
	}
}
.contacts {
	.contact-me {
		background-color: var(--blue-100);
		border-radius: 30px;
		padding: 30px;
		margin-bottom: 10px;
		gap: 30px;
		display: flex;
		@media (max-width: 1024px) {
			flex-direction: column;
		}
		p {
			margin-bottom: 30px;
		}

		.contact-links {
			flex: 3;
			display: flex;
			flex-direction: column;
			padding: 30px;
			justify-content: space-between;
			align-content: space-between;
			.contact-text {
				p {
					text-align: justify;
					padding: 5px;
					text-align: justify;
					font-weight: 500;
					font-size: larger;
				}
			}
			.social-links {
				padding: 20px 30px 20px 10px;
			}
			.call-to-action {
				a {
					background-color: var(--base-800);
					color: var(--base-100);
					margin: 10px;
				}
			}
		}
		.contact-form {
			flex: 4;
			background-color: var(--yellow-100);
			padding: 30px;
			border-radius: 10px;
			.form-container {
				max-width: 700px;
				margin: 10px auto;
				background-color: #c5c8c9;
				padding: 30px 25px 5px 25px;
				border-radius: 10px;
				.form {
					.input {
						width: 100%;
						background-color: #e6e9eb;
						border: none;
						outline: none;
						padding: 15px;
						margin-bottom: 20px;
						border-radius: 8px;
						transition: all 0.2s ease-in-out;
						border-left: 1px solid transparent;
						&:hover {
							border-left: 5px solid #000f38;
						}
						&:focus {
							border-left: 5px solid #000f38;
						}
					}
					.textarea {
						width: 100%;
						padding: 10px;
						border: none;
						outline: none;
						background-color: #e6e9eb;
						color: rgb(17, 9, 1);
						resize: none;
						max-height: 300px;
						height: 250px;
						overflow-y: scroll;
						margin-bottom: 20px;
						border-left: 1px solid transparent;
						transition: all 0.2s ease-in-out;
						border-radius: 8px;
						&:hover {
							border-left: 5px solid #000f38;
						}
						&:focus {
							border-left: 5px solid #000f38;
						}
					}
					.button-container {
						display: block;
						.send-button {
							flex: 7;
							background: rgb(7, 38, 72);
							color: rgb(253, 253, 253);
							text-align: center;
							border: 1px solid transparent;
							transition: all 0.2s ease-in-out;
							border-radius: 20px;
							width: 100%;
							margin: 10px auto;
							padding: 8px;
							&:hover {
								background-color: transparent;
								border: 2px solid rgb(7, 38, 72);
								color: #000711;
								cursor: pointer;
							}
							&:focus {
								background-color: transparent;
								border: 2px solid rgb(7, 38, 72);
								color: #000711;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
}
