:root {
	--bodyBgColor: rgb(255, 255, 255);
	--bodyFontSize: 18px;
	--bodyFontweight: 400;
	--bodyLineheight: 1.6;
	--navBgColor: rgb(13, 52, 93);
	--linkFontColor: rgb(0, 0, 0);
	--navlinkItemColor: rgb(245, 243, 243);
	--navItemBgColor: rgba(108, 123, 132, 0.603);
	--navItemColor: rgb(255, 255, 255);
	--formWidth: 60%;
	--linkColor: rgb(7, 50, 243);
	--visitedLinkColor: rgb(255, 102, 0);
	--linkHoverColor: rgb(34, 139, 34);
	--activeLinkColor: deeppink;
	--buttonBgColor: rgb(0, 128, 170);
	--buttonFontColor: white;
	--activeButtonColor: rgb(210, 105, 30);
	--gridBgColor: rgb(255, 250, 240);
	--smallScreenSize: 500px;
	--middelScreenSize: 750px;
}

* {
	box-sizing: border-box;
	font-size: var(--bodyFontSize);
}
html {
	height: 100%;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: var(--bodyBgColor);
	font-weight: var(--bodyFontweight);
	line-height: var(--bodyLineheight);
	margin: auto;
	text-align: center;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.page-header {
	background-color: var(--navBgColor);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	border-bottom: #b0b7c0 1px solid;
	height: 80px;
}
.main-navigation {
	margin: 0 20px;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}
.page-header img {
	max-width: 20%;
	height: 90%;
}
.navigation-list {
	padding: 0 5px;
	margin: 0;
	display: flex;
}
.navigation-list li {
	list-style: none;
	padding: 0 1px;
	margin: 0;
	width: 90px;
	font-weight: bold;
}
.navigation-list_item {
	text-decoration: none;
	color: var(--navlinkItemColor);
	display: block;
	padding: 1em 0.1em;
}
.navigation-list_item--active {
	background-color: var(--navItemBgColor);
	color: var(--navItemColor);
}
.navigation-list_item:hover {
	background-color: var(--navItemBgColor);
	color: var(--navItemColor);
	padding: 1em 0.2em;
}

.profile {
	max-width: 600px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 80px auto;
	padding: 0.5em;
}
.profile_portrait {
	width: 250px;
	border-radius: 50%;
	padding: 10px 0.5em 0.5em;
}
.profile-text {
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	margin: 0 10px;
	border-left: 5px solid rgb(3, 67, 96);
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	margin: 2em auto;
	padding: 1.5em;
	gap: 10px;
	width: 60%;
}
.personal-contact {
	margin: 1em;
	padding: 1em;
}

footer {
	background-color: #73aabb;
	margin-top: auto;
	width: 100%;
}
.page-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.page-footer .social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
svg {
	width: 60%;
}
.page-footer .social-media a img {
	width: 50px;
	height: 50px;
	margin: 0px;
}

.button-example {
	display: inline-block;
	clear: both;
}
main .about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	max-width: 95%;
	margin: auto;
	padding: 40px 1px 80px 1px;
	gap: 40px;
}

table,
thead,
tbody,
tfoot,
th,
td {
	border: 1px solid #362f2f;
	border-collapse: collapse;
	text-align: center;
	margin: 0em 0.1em;
	padding: 0.5em;
}

th {
	background-color: #4ca0e4;
}
tr:nth-child(even) {
	background-color: #9ce2f7;
}
tr:hover {
	background-color: #92a7af;
	color: white;
}

caption {
	caption-side: bottom;
	font-size: small;
}

.skills-list {
	margin: 5px auto;
	padding: 0;
}

.skills-list li {
	list-style: none;
	text-align: center;
	margin: 0.1em auto;
	padding: 0.5em;
}
a {
	color: var(--linkColor);
}
a:visited {
	color: var(--visitedLinkColor);
}
a:hover,
a:focus {
	text-decoration: none;
	color: var(--linkHoverColor);
}
a:active {
	color: var(--activeLinkColor);
}

button,
.button {
	background-color: var(--buttonBgColor);
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-family: inherit;
	cursor: pointer;
	margin: 10px;
	padding: 15px 32px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	transition-property: opacity 0.3s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	color: var(--buttonFontColor);
	font-weight: bold;
	opacity: 0.8;
}

button:active,
.button:active {
	background-color: var(--activeButtonColor);
	color: white;
}

/*css for index page */
.work-wrapper {
	width: 95%;
	margin: auto;
	padding: 40px 5px 80px 5px;
}

.projects-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin: auto;
	padding: 10px;
	color: black;
}
.projects-grid-item {
	background-color: var(--gridBgColor);
	margin: 10px;
	padding: 0 50px 50px 50px;
}

/* media queries */
@media (max-width: 500px) {
	.page-header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid black;
		height: 100%;
		width: 100%;
		gap: 5px;
	}
	.main-navigation {
		margin: 0 3px;
		padding: 0;
		border: 2px solid #0ced8b;
		display: flex;
		width: 100%;
	}
	.page-header img {
		max-width: 100%;
		height: 90%;
		border: 2px solid #f60000;
	}
	.navigation-list {
		background-color: var(--navBgColor);
		border-top: 1px solid black;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.navigation-list_item {
		padding: 0.1em 0;
	}
	.navigation-list_item li {
		padding: 0.1em;
		margin: 0.2em;
	}

	.projects-grid-container {
		grid-template-columns: 1fr;
	}
	.profile {
		flex-direction: column;
		max-width: 310px;
		margin: 5px auto;
	}
	.contact-container {
		margin: 0 auto;
		padding: 0;
		align-items: center;
		width: 95%;
	}
	table,
	td,
	th {
		font-size: 0.8em;
	}
}

@media (min-width: 500px) and (max-width: 768px) {
	.projects-grid-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 750px) {
	.projects-grid-container {
		grid-gap: 10px;
	}
	.projects-grid-item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
	h1 {
		font-size: 22px;
	}
	h2 {
		font-size: 18px;
	}
}

@keyframes color-change {
	0% {
		fill: #f1b90f;
	}
	50% {
		fill: #ebed9a;
	}
	100% {
		fill: #f76414;
	}
}
.sun {
	animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
	0% {
		transform: translate(0, 50px);
	}
	100% {
		transform: translate(200px, 50px);
	}
}

.cloud-front {
	animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
	from {
		transform: translate(446px, 48px);
	}
	to {
		transform: translate(100px, 48px);
	}
}

.cloud-back {
	animation: 35s cloud-move-reverse infinite alternate linear;
}
